<!-- Basics -->

<div blColumns>
  <div blColumn>First column</div>
  <div blColumn>Second column</div>
  <div blColumn>Third column</div>
  <div blColumn>Fourth column</div>
</div>

<bl-columns>
  <bl-column>First column</bl-column>
  <bl-column>Second column</bl-column>
  <bl-column>Third column</bl-column>
  <bl-column>Fourth column</bl-column>
</bl-columns>

<!-- Column sizes -->

<bl-columns>
  <bl-column size="full">is-full</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="four-fifths">four-fifths</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="three-quarters">three-quarters</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="two-thirds">two-thirds</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="three-fifths">three-fifths</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="half">half</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="two-fifths">two-fifths</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="one-third">one-third</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="one-quarter">one-quarter</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="one-fifth">one-fifth</bl-column>
  <bl-column>Auto</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<!-- 12 columns system -->

<bl-columns>
  <bl-column size="1">is-1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="2">is-2</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="3">is-3</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="4">is-4</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="5">is-5</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="6">is-6</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="7">is-7</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="8">is-8</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="9">is-9</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="10">is-10</bl-column>
  <bl-column>1</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="11">is-11</bl-column>
  <bl-column>1</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="12">is-12</bl-column>
</bl-columns>

<!-- Offset -->

<bl-columns>
  <bl-column size="half" offset="one-quarter"
    >is-half is-offset-one-quarter</bl-column
  >
</bl-columns>

<bl-columns>
  <bl-column size="three-fifths" offset="one-fifth"
    >is-three-fifths is-offset-one-fifth</bl-column
  >
</bl-columns>

<bl-columns>
  <bl-column size="4" offset="8">is-4 is-offset-8</bl-column>
</bl-columns>

<bl-columns>
  <bl-column size="11" offset="1">is-11 is-offset-1</bl-column>
</bl-columns>

<!-- Narrow column -->

<bl-columns>
  <bl-column narrow>
    <div class="box" style="width: 200px">
      <p class="title is-5">Narrow column</p>
      <p class="subtitle">This column is only 200px wide.</p>
    </div>
  </bl-column>
</bl-columns>

<bl-columns>
  <bl-column>
    <div class="box">
      <p class="title is-5">Flexible column</p>
      <p class="subtitle">
        This column will take up the remaining space available.
      </p>
    </div>
  </bl-column>
</bl-columns>

<!-- Columns responsiveness -->

<bl-columns>
  <bl-column
    sizeMobile="three-quarters"
    sizeTablet="two-thirds"
    sizeDesktop="half"
    sizeWidescreen="one-third"
    sizeFullHD="one-quarter"
  >
    <code>is-three-quarters-mobile</code><br />
    <code>is-two-thirds-tablet</code><br />
    <code>is-half-desktop</code><br />
    <code>is-one-third-widescreen</code><br />
    <code>is-one-quarter-fullhd</code>
  </bl-column>
  <bl-column>2</bl-column>
  <bl-column>3</bl-column>
  <bl-column>4</bl-column>
  <bl-column>5</bl-column>
</bl-columns>

<!-- Gap -->

<bl-columns multiline gapless>
  <bl-column size="one-quarter">is-one-quarter</bl-column>
  <bl-column size="one-quarter">is-one-quarter</bl-column>
  <bl-column size="one-quarter">is-one-quarter</bl-column>
  <bl-column size="one-quarter">is-one-quarter</bl-column>
  <bl-column size="half">is-half</bl-column>
  <bl-column size="one-quarter">is-one-quarter</bl-column>
  <bl-column size="one-quarter">is-one-quarter</bl-column>
  <bl-column size="one-quarter">is-one-quarter</bl-column>
  <bl-column>Auto</bl-column>
</bl-columns>

<!-- Variable gap -->

<bl-columns
  gapMobile="1"
  gapTablet="0"
  gapDesktop="3"
  gapWidescreen="8"
  gapFullHD="2"
>
  <bl-column>Column</bl-column>
  <bl-column>Column</bl-column>
  <bl-column>Column</bl-column>
  <bl-column>Column</bl-column>
  <bl-column>Column</bl-column>
  <bl-column>Column</bl-column>
</bl-columns>

<!-- Vertical Centered -->
<bl-columns vcentered>
  <bl-column size="8">First column</bl-column>
  <bl-column
    >Second column with more content. This is so you can see the vertical
    alignment.</bl-column
  >
</bl-columns>

<!-- Centering columns -->
<bl-columns centered>
  <bl-column size="half"><code class="html">is-half</code><br /></bl-column>
</bl-columns>
